.fullC{
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
    }
    
    
    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }
      
      .calendar__day {
        border: 1px solid #ccc;
        padding: 1rem;
        text-align: center;
        color: #adf0d1 !important;
      }
      
      .calendar__day--selected {
      }
    
      .plann{
font-size: 20px !important;
color: rgb(255, 255, 255) !important;  }