.cardd{
    display: flex !important ;
    flex-direction: row !important ;
    margin-left: 15% !important;
    background: transparent !important ;
    
  }
  .a{
    background-color: black;
  }
  
  .C-H{
    margin-top: 3rem;

    display: flex !important;
    justify-content: space-around !important;
  }